@-webkit-keyframes spinner{
	100%{
		-webkit-transform: rotate(3600deg);
		        transform: rotate(4600deg);
	}
}

@keyframes spinner{
	100%{
		-webkit-transform: rotate(3600deg);
		        transform: rotate(7200deg);
	}
}

.container{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 50vh;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.spinner{
	display: inline-block;
	width: 500px;
	height: 500px;
	background: url('../img/oSHLAzp.png') center center;
	background-size: contain;
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

}

.bba{
	-webkit-animation: spinner 3s alternate  ease-in-out;
	animation: spinner 6s  alternate  ease-in-out;

}
.center-spinner{
	display: inline-block;
	position: absolute;
	margin-left: -500px;
	height: 500px;
	width: 500px;
	background: url('../img/u0BC2ZR.png') center center;
	background-size: contain;
	content: '';
	cursor: pointer;
}
.text:hover{
	cursor: pointer;
}
.text{
	position: relative;
	z-index: 1;
	font-size: 30px;
	font-family: cursive;
}
